.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 85vh;
  width: 40rem;
  scroll-behavior: smooth;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
