{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "no-console": "off",
    "comma-dangle": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-wrap-multilines": "off",
    "max-len": ["error", { "code": 150 }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
